<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <style type="text/css">
      html,
      body {
        padding: 0;
        margin: 0;
        height: 100%;
      }
    </style>
    <title>Tokopedia Recruitment Test - Rupiah Denomination</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but rupiah-solver doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
