<template>
  <div class="container">
    <h1 class="header">Rupiah Solver</h1>
    <div class="main-content">
      <input type="text" :placeholder="placeholderText" v-model="nominalStr" v-on:keyup.enter="calculate()"><br/>
      <div v-if="errorMessage.length == 0 && nominalValue > 0">Press enter to calculate</div>
      <div class="error-message">
        {{errorMessage}}
      </div>

      <ul :class="[(showResult ? 'denomination-list visible' : 'denomination-list')]">
        <li v-if="denomination.seratusRibu.value > 0">
          <div class="image-wrapper">
            <img class="denomination" src="../assets/denomination/100000.png" alt="Seratus Ribu">
          </div>
          <span>X {{denomination.seratusRibu.value}}</span>
        </li>
        <li v-if="denomination.limaPuluhRibu.value > 0">
          <div class="image-wrapper">
            <img class="denomination" src="../assets/denomination/50000.png" alt="Lima Puluh Ribu">
          </div>
          <span>X {{denomination.limaPuluhRibu.value}}</span>
        </li>
        <li v-if="denomination.duaPuluhRibu.value > 0">
          <div class="image-wrapper">
            <img class="denomination" src="../assets/denomination/20000.png" alt="Dua Puluh Ribu">
          </div>
          <span>X {{denomination.duaPuluhRibu.value}}</span>
        </li>
        <li v-if="denomination.sepuluhRibu.value > 0">
          <div class="image-wrapper">
            <img class="denomination" src="../assets/denomination/10000.png" alt="Sepuluh Ribu">
          </div>
          <span>X {{denomination.sepuluhRibu.value}}</span>
        </li>
        <li v-if="denomination.limaRibu.value > 0">
          <div class="image-wrapper">
            <img class="denomination" src="../assets/denomination/5000.png" alt="Lima Ribu">
          </div>
          <span>X {{denomination.limaRibu.value}}</span>
        </li>
        <li v-if="denomination.duaRibu.value > 0">
          <div class="image-wrapper">
            <img class="denomination" src="../assets/denomination/2000.png" alt="Dua Ribu">
          </div>
          <span>X {{denomination.duaRibu.value}}</span>
        </li>
        <li v-if="denomination.seribu.value > 0">
          <div class="image-wrapper">
            <img class="denomination" src="../assets/denomination/1000.png" alt="seribu">
          </div>
          <span>X {{denomination.seribu.value}}</span>
        </li>
        <li v-if="denomination.limaRatus.value > 0">
          <div class="image-wrapper">
            <img class="denomination" src="../assets/denomination/500.png" alt="Lima Ratus">
          </div>
          <span>X {{denomination.limaRatus.value}}</span>
        </li>
        <li v-if="denomination.duaRatus.value > 0">
          <div class="image-wrapper">
            <img class="denomination" src="../assets/denomination/200.png" alt="Dua Ratus">
          </div>
          <span>X {{denomination.duaRatus.value}}</span>
        </li>
        <li v-if="denomination.seratus.value > 0">
          <div class="image-wrapper">
            <img class="denomination" src="../assets/denomination/100.png" alt="Seratus">
          </div>
          <span>X {{denomination.seratus.value}}</span>
        </li>
        <li v-if="denomination.limaPuluh.value > 0">
          <div class="image-wrapper">
            <img class="denomination" src="../assets/denomination/50.png" alt="Lima Puluh">
          </div>
          <span>X {{denomination.limaPuluh.value}}</span>
        </li>
        <li v-if="denomination.remaining.value > 0">
          <div class="image-wrapper">
            <div><strong>Remaining</strong></div>
          </div>
          <span>{{denomination.remaining.value}}</span>
        </li>
      </ul>

    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      errorMessage: "",
      nominalStr: "",
      nominalValue: 0,
      showResult: false,
      denomination: {
        seratusRibu: {
          text: "Rp 100.000",
          value: 0
        },
        limaPuluhRibu: {
          text: "Rp 50.000",
          value: 0
        },
        duaPuluhRibu: {
          text: "Rp 20.000",
          value: 0
        },
        sepuluhRibu: {
          text: "Rp 10.000",
          value: 0
        },
        limaRibu: {
          text: "Rp 5.000",
          value: 0
        },
        duaRibu: {
          text: "Rp 2.000",
          value: 0
        },
        seribu: {
          text: "Rp 1.000",
          value: 0
        },
        limaRatus: {
          text: "Rp 500",
          value: 0
        },
        duaRatus: {
          text: "Rp 200",
          value: 0
        },
        seratus: {
          text: "Rp 100",
          value: 0
        },
        limaPuluh: {
          text: "Rp 50",
          value: 0
        },
        remaining: {
          text: "Remaining",
          value: 0
        }
      },
      placeholderText: ""
    };
  },

  computed: {
    usedDenomination() {
      this.denomination.filter(function(e) {
        return x.value > 0;
      });
    }
  },

  watch: {
    nominalStr(val) {
      if (this.checkInput(val)) {
        this.nominalValue = this.parseValue(val);
        this.errorMessage = "";
      } else {
        this.nominalValue = 0;
        this.showResult = false;
        this.getValidationErrorMessages(val);
      }
    }
  },

  created() {
    this.animateTextboxPlaceholder();
  },

  methods: {
    checkInput(val) {
      //Regex Validation
      // - Optional Currency symbol (Rp)
      // - Optional . thousand separator
      // - Optional trailing Zero with comma
      var regex = /^(?:Rp(\s)?)?(([0-9]\d{0,2}(\.?[0-9]{3})*)?|\d+)?(?:,0{2})?$/;
      return !!val.toString().match(regex);
    },

    parseValue(val) {
      let tmp = val
        .trim()
        .replace(/\./g, "")
        .replace(/\s/g, "")
        .replace("Rp", ""); //Clear non-numerical str

      //Clear Trailing Zero after Comma
      if (tmp.indexOf(",") > 0) {
        tmp = tmp.substring(0, tmp.indexOf(","));
      }
      return tmp;
    },

    calculate() {
      //Clear denomination data
      this.denomination.seratusRibu.value = 0;
      this.denomination.limaPuluhRibu.value = 0;
      this.denomination.duaPuluhRibu.value = 0;
      this.denomination.sepuluhRibu.value = 0;
      this.denomination.limaRibu.value = 0;
      this.denomination.duaRibu.value = 0;
      this.denomination.seribu.value = 0;
      this.denomination.limaRatus.value = 0;
      this.denomination.duaRatus.value = 0;
      this.denomination.seratus.value = 0;
      this.denomination.limaPuluh.value = 0;

      //Start Recursive Function
      this.getDenomination(this.nominalValue);
      this.showResult = true;
    },

    //Recursive function
    getDenomination(val) {
      let tempVal = parseInt(val);
      if (tempVal >= 100000) {
        tempVal -= 100000;
        this.denomination.seratusRibu.value += 1;
      } else if (tempVal >= 50000) {
        tempVal -= 50000;
        this.denomination.limaPuluhRibu.value += 1;
      } else if (tempVal >= 20000) {
        tempVal -= 20000;
        this.denomination.duaPuluhRibu.value += 1;
      } else if (tempVal >= 10000) {
        tempVal -= 10000;
        this.denomination.sepuluhRibu.value += 1;
      } else if (tempVal >= 5000) {
        tempVal -= 5000;
        this.denomination.limaRibu.value += 1;
      } else if (tempVal >= 2000) {
        tempVal -= 2000;
        this.denomination.duaRibu.value += 1;
      } else if (tempVal >= 1000) {
        tempVal -= 1000;
        this.denomination.seribu.value += 1;
      } else if (tempVal >= 500) {
        tempVal -= 500;
        this.denomination.limaRatus.value += 1;
      } else if (tempVal >= 200) {
        tempVal -= 200;
        this.denomination.duaRatus.value += 1;
      } else if (tempVal >= 100) {
        tempVal -= 100;
        this.denomination.seratus.value += 1;
      } else if (tempVal >= 50) {
        tempVal -= 50;
        this.denomination.limaPuluh.value += 1;
      } else {
        //Exit Recursive
        this.denomination.remaining.value = tempVal;
        return;
      }

      this.getDenomination(tempVal);
    },

    getValidationErrorMessages(val) {
      this.errorMessage = "";
      if (
        val
          .toString()
          .trim()
          .indexOf("Rp") > 0
      ) {
        this.errorMessage = "Valid character in wrong position";
      } else if (
        !!val
          .toString()
          .trim()
          .match(/\d\s\d/) ||
        !!val.match(/,\d{3,}/)
      ) {
        this.errorMessage = "Invalid separator";
      } else if (
        !!val
          .toString()
          .trim()
          .match(/[^0-9.,RrPp\s]/)
      ) {
        this.errorMessage = "Invalid Character";
      } else {
        this.errorMessage = "Invalid Input";
      }
    },

    async animateTextboxPlaceholder() {
      let placeHolderTextList = [
        "Type your money.",
        "e.g. 250000",
        "e.g. 5.700.000",
        "e.g. Rp 15000",
        "e.g. Rp 1.000.000",
        "e.g. Rp900000",
        "e.g. Rp 1.500.000,00"
      ];

      for (let ph of placeHolderTextList) {
        let res = await this.typePlaceholder(ph);
      }
    },

    async typePlaceholder(ph) {
      return new Promise((resolve, reject) => {
        ph.split("").forEach((v, k) => {
          setTimeout(() => {
            this.placeholderText = ph.substring(0, k + 1);
            if (k == ph.length - 1) {
              setTimeout(() => {
                resolve(ph);
              }, 2000);
            }
          }, (k + 1) * 100);
        });
      });
    }
  }
};
</script>
<style scoped>
.container {
  height: 400px;
  width: 800px;
  background: #fafafa;
  padding: 0 50px;
}
h1 {
  color: #42b549;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 0.5em;
}

input[type="text"] {
  padding: 0.5em;
  font-size: 16pt;
  border: 1px solid #999;
  letter-spacing: 1px;
  text-align: center;
  color: #666;
  width: 400px;
}

input[type="text"]::placeholder {
  letter-spacing: 1px;
}

button {
  font-size: 14pt;
  padding: 0.5em;
}

ul.denomination-list {
  text-align: left;
  width: 269px;
  margin: 1em auto 0 auto;
  padding: 1em;
  background: #fff;
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

ul.denomination-list.visible {
  opacity: 1;
}

ul.denomination-list li {
  border-bottom: 1px solid #eaeaea;
  padding: 3px 0;
  background: #fff;
}

ul.denomination-list li span {
  float: right;
}

div.image-wrapper {
  width: 100px;
  height: 30px;
  margin-right: 0.5em;
  display: inline-block;
}

img.denomination {
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}
ul {
  list-style-type: none;
  padding: 0;
}

.error-message {
  color: #da6f6f;
}
</style>
